{% extends 'base.html' %}
{% block content %}

 <!-- your content that you want to put on block in base.html  -->


 <!-- name of attributes will be use in flask app :- use can get request (post method) and get variable directly,
 similary in value you can pass parameter and change value  -->
<div class="container">
    <h1>Chatroom Setup</h1>
    <form method='post'>
      <label for="name">Your Name:</label>
      <input type="text" id="name" name="name" value="{{name}}">
      
      <label for="chatroom">Chatroom Name:</label>
      <input type="text" id="chatroom" name="chatroom" value="{{chatroom}}">
      
      <button type="submit" id="enterChatroom" name="join">Enter Chatroom</button>
      <button type="submit" id="createChatroom" name="create">Create Room</button>

      {% if error %}
      <ul>
        <li>
            {{error}}
        </li>
      </ul>
      {% endif %}
    </form>
  </div>


{% endblock %}